
.container{
  display:flex;
  
  justify-content:space-around;
  }
  .item{
      margin:5px;
   
      padding:6px;
  
     
    
  }
  .logo{
      background-image:url('/src/images/logo.png');
  flex:1;
  }
  .navigation{
  flex:3;
  }
  .profile{
  
  }nav ul li{
      list-style:none;
      text-decoration:none;
  }
  nav ul li a{
      float:left;
      color: black;
      text-decoration: none;
      margin:50px;
  }
  .portfolio{
      display:flexbox;
      align-items: center;
      justify-content:center;
      clear:both;
      width:auto;
      
     
      float:center;
      margin:0 auto 20px auto;
  }
  .middle img{
    
     
      background-image: url('/src/images/modesto.jpg');
  }
  .portfolio > a{
      display:inline-flex;
  }
  .portfolio > h3{
      display:flex;
      justify-content:center;
  
  }